<p-table
  #dt
  [filterDelay]="1000"
  [columns]="cols"
  [value]="items"
  selectionMode="single"
  [resizableColumns]="true"
  (onLazyLoad)="onLoadLazy($any($event))"
  dataKey="id"
  [lazy]="true"
  [paginator]="true"
  [rowsPerPageOptions]="[5, 10, 25, 50, 100, 200]"
  [rows]="10"
  [formGroup]="filtersForm"
>
  <ng-template pTemplate="header">
    <tr>
      <ng-container *ngFor="let col of cols; trackBy: trackByFieldName">
        <th class="text-center">{{ col.header }}</th>
      </ng-container>
    </tr>
    <tr>
      <th *ngFor="let col of cols; trackBy: trackByFieldName; let i = index">
        <ng-container [ngSwitch]="col.controlType">
          <ng-container *ngSwitchCase="controlNames.input">
            <input
              type="text"
              pInputText
              [formControlName]="col.formControlName"
              [placeholder]="col.header"
            />
          </ng-container>

          <ng-container *ngSwitchCase="controlNames.reset">
            <app-reset-button
              [isFilterEmpty]="isFilterEmpty$ | async"
              (onClick)="resetFilters()"
            ></app-reset-button>
          </ng-container>

          <ng-container *ngSwitchCase="controlNames.select">
            <p-dropdown
              appendTo="body"
              [options]="col.options"
              [formControlName]="col.formControlName"
              optionLabel="label"
              optionValue="value"
            ></p-dropdown>
          </ng-container>

          <ng-container *ngSwitchCase="controlNames.datepicker">
            <p-calendar
              appendTo="body"
              [formControlName]="col.formControlName"
            ></p-calendar>
          </ng-container>

          <ng-container *ngSwitchCase="controlNames.selectWithSearch">
            <p-dropdown
              appendTo="body"
              [options]="col.options"
              [formControlName]="col.formControlName"
              optionLabel="name"
              [filter]="true"
              filterBy="label"
              [showClear]="true"
              [placeholder]="col.header"
            >
              <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                  <div>{{ selectedOption.name }}</div>
                </div>
              </ng-template>
              <ng-template let-country pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ country.name }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </ng-container>
        </ng-container>
      </th>
    </tr></ng-template
  >

  <ng-template pTemplate="body" let-item let-i="rowIndex">
    <tr [pSelectableRow]="item">
      <ng-container *ngFor="let col of cols; trackBy: trackByFieldName">
        <td class="text-center">
          <ng-container [ngSwitch]="col.field">
            <ng-container *ngSwitchCase="'id'">
              {{ i + 1 }}
            </ng-container>
            <ng-container *ngSwitchCase="'delete'">
              <app-delete-button
                (onClick)="deleteItem(item)"
              ></app-delete-button>
            </ng-container>

            <ng-container *ngSwitchCase="'edit'">
              <app-edit-button (onClick)="editItem(item)"></app-edit-button>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <ng-container
                *ngIf="
                  col.controlType === controlNames.datepicker;
                  else default
                "
              >
                {{ item[col.field] | date : col.dateFormat }}
              </ng-container>

              <ng-template #default>
                {{ item[col.field] | sp : col.spName }}
              </ng-template>
            </ng-container>
          </ng-container>
        </td>
      </ng-container>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" class="dark:bg-gray-800 dark:text-white">
    {{ totalItemsLabel }}: {{ totalItems }}
  </ng-template>
</p-table>
